@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .overlay {
    --clip: 0% 0%, 0% 0%, 0% 125%, 0% 100%;
    clip-path: polygon(var(--clip));
  }

  .circle-overlay {
    --clip-circle: 0%;
    clip-path: circle(var(--clip-circle));
  }
}

@layer components {
  .main-container {
    @apply max-w-[1980px]  px-4 md:px-10 lg:px-14 mx-auto;
  }

  .chips {
    @apply px-4 py-1 border border-grayscale-300 text-primary-dark opacity-70 rounded-full capitalize;
  }

  .heading {
    @apply font-bold text-3xl uppercase;
  }

  .article-title {
    @apply text-2xl font-bold transition-all duration-500 hover:opacity-60 mb-2;
  }

  .meta-time {
    @apply text-xs md:text-sm opacity-80;
  }
}
